
.chat {
	overflow: scroll;
	border-width: 10px;
	border-radius: 20px;
	border-color: aquamarine;
	border-style: hidden solid dashed;
	height: 80vh;
	/*display: flex;*/
}

.chatcontrol {
	margin: 7vh auto 0;
	width: 75%;
}

.ws_status {
	float: right;
}

.controls {
	display: flex;
}

.message {
	width: 100%;
}
